<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <% t = Time.now %>
    <h1>The date is <%= "#{t.strftime("%A")}, #{t.strftime("%B")} #{t.day}, #{t.year}" %></h1>
  </body>
</html>